/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display+swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* Custom Scroll Bar CSS*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #6E93F7;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background: #ffffff;
    border-radius: 12px;
}
/* Navigation Menu CSS */
nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1000; /* garante que fique sempre por cima */
}
nav.sticky{
    padding: 13px 0;
    background: #f8bb30;
}
nav .navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color:#ffffff;

}
nav.sticky .navbar .logo a{
    color: #ffffff;
}
nav .navbar .menu{
    display: flex;

}
nav .navbar .menu li{
    margin: 0 8px;
    list-style: none;
}
.navbar .menu li a{
    font-size: 18px;
    font-size: 500;
    color: #ffffff;
}
nav.sticky .navbar .menu li a{
    color: #ffffff;
}

.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: #ffffff;

}
nav.sticky .navbar .media-icons a{
    color: #33373a;
}

/*Side Navigation Menu Button*/

nav .menu-btn,
.navbar .cancel-btn{
    position: absolute;
    color: #33373a;
    font-size: 20px;
    right: 30px;
    top: 20px;
    cursor: pointer;
}
nav .menu-btn{
    color: #f8bb30;

}
nav.sticky .menu-btn{
    color: #33373a;    


}

/* Responsive Media Query CSS*/
@media (max-width: 750px){
    nav .navbar .menu{
    position: absolute;
    left: 100%;
    top: 0;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: all 0.5sec ease;

    }
    nav .navbar .active .menu{
        left: 0;
    }
    .navbar .menu li a{
    font-size: 23px;
    display: block;
    margin: 10px 0 ;
    color: #33373a;


    }
    .navbar .media-icons a{
        display: none;

    }
    
}
/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .cancel-btn{
    position: absolute;
    color: #33373a;
    font-size: 20px;
    right: 30px;
    top: 20px;
    display: none;
}
nav .menu-btn{
    color:#ffffff;
}

/* Home Section CSS */
.home{
    height: 100vh;
    width: 100%;
    background:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.959),
            rgba(30, 31, 32, 0.945), /* #3b3e41 intermediário */
            rgba(138, 139, 140, 0.705)/* #8a8b8c mais suave */
        ),
            url(../Codigo/fototeste.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    background-color: #33373a;
}
.home .home-content{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text .text-one{
    font-size: 25px;
    color: #ffffff; 
}
.home .text .text-two{
    font-size: 75px; 
    font-weight: 600;
    margin-left: -3px;
    color: #ffffff;
}
.home .text .text-three{
    font-size: 40px;
    color: #ffffff;
}
.home .text .text-four{
    font-size: 23px;
    margin: 5px 0;
    color: #ffffff;
}
.home .button{
    margin: 14px 0;
}              
.home .button button{
    outline: none;
    color: #33373a;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background:#f8bb30;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.home .button button:hover{
    color:#f8bb30;
    background-color: #33373a;
    border-color: #f8bb30;
}

/*About Me Section CSS*/
/*Those element where we need to apply same  css their i will select "Section Tag" and "Class" Directly*/
.about {
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.910);
}
section .content{/*troquei para section conforme em video*/
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins' , sans-serif;
    
}

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
section .title span{
    font-size: 30px;
    font-weight: 600px;
    padding-bottom: 4px;
    position: relative;
    color: #ffffff;

}

section .title span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:#f8bb30;
}

section .title span::after{
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
}

.about .about-details{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.about .about-details .right{
    width: 45%;

}
.about .about-details .right .img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;

}
.about .about-details .left{
    width: 55%;
}

section .topic{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}
.about .about-details .left p{
    color: #ffffff;
    text-align: justify;

}
section .button{
    margin: 14px 0;
}              
section .button button{
    outline: none;
    color: #33373a;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background:#f8bb30;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}
section .button button:hover{
    color:#f1d98f;
    background-color: #33373a; 
    border-color: #f1d98f;
}
/* My Service Section CSS */
.services .boxes{
    display: flex;
    justify-content: space space-between;
    flex-wrap: wrap;
}
.services .boxes .box{
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 20px 10px;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: #f1d98f;
    color: #33373a;

}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    color: #33373a;
    background-color: #f1d98f;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.services .boxes .box:hover .icon{
    background: #33373a;
    color: #f1d98f;
}
.services .boxes .box:hover .topic{
    color:#33373a;
}
/* Contact Me CSS*/
.contact{
    background: #8a8b8c;
    padding: 20px;

}
.contact .tittle{
    text-align: center;
    margin: auto;
    font-size: 30px;

}
.contact .text{
    text-align: center;
    margin: auto;
    width: 80%;
}

/* Footer CSS */
footer {
    background: #f1d98f;
    text-align: center;
    padding-left: 15px 0;
    font-family: 'Poppins', 'sans-serif';

}
footer .text span{
    color: #33373a;
    font-size: 15px;
    font-weight: 500;
}

footer .text span a{
    color: #33373a;
    font-size: 16px;
    font-weight: 500;
}
footer .text span a:hover{
    text-decoration: underline; 
}
/*Scroll to Top Button CSS*/

.scroll-btn i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px  12px;
    background-color: #f1d98f;
    color: #33373a;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}


/* Response Media Query CSS */
@media (max-width: 1190px){
    .about .content{
        width: 85%;
    }
    .skills .content{
        width: 90%;
    } /*grupo referente a minha parte do código skills*/
}
.services .content{
    width: 90%;

}

@media (max-width: 1090px){
    .about .about-details{
        flex-direction: column;
    }

    .about .about-details .right{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about .about-details .left{
        width: 90%;
        margin: 40px 0;
    }
}
.services .boxes .box{
    width: calc(100% / 2 - 20px);

}
.contact .text{
    width: 90%;
}

@media (max-width: 971px){
    .about .about-details .right .img{
        height: 350px;
        width: 350px;
        object-fit: cover;
        border-radius: 12px;
        }
}

@media (max-width: 750px) {
    nav .navbar .menu{
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: #f1d98f;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }
    nav .navbar.active .menu{
        left: 0;
    }
    .navbar .menu li a{
        display: block;
        margin: 10px 0;
        font-size: 23px;
        color: #33373a
    }
    nav.sticky .navbar .menu li a:hover{
        color: #f1d98f;

    }
    .navbar .media-icons a{
        display: none;
    }
    nav .menu-btn,
        .navbar .cancel-btn{
        display: block;
    }
    .home .text .text-two{
        font-size: 65px; 
    }
    .home .text .text-three{
        font-size: 35px; 
    }
    .skills .skill-details{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .skills .skill-details .left{
        width: 90%;

    }
    .skills .skill-details .boxes{
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box{
        width: 100%;
    }
    .contact .text{
    width: 100%;
    }
}
@media (max-width: 510px){
    .home .text .text-two{
        font-size: 55px;
    }

    .home .text .text-three{
        font-size: 33px;
    }
}


/*My Skills CSS*/
.skills{
    background: #8a8b8c;
}

.skills .content{
    padding: 40px 0;
}

.skills .skill-details{
    display:  flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skill-details .left{
    width: 50%;
    text-align: justify;
}

.skills .skill-details .left .experience{
    display: flex;
    align-items:  center;
}

.skills .skill-details .left .experience .num{
    font-size: 80px;
    color: #f1d98f;
    font-weight: 1000;
}

.skills .skill-details .left .experience .exp{
    font-size: 18px;
    color: #f1d98f;
    font-weight: 500;
}


.skill-details .left p{
    color: #f1d98f;
    text-align: justify;;
}


.skills .skill-details .boxes{
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills .skill-details .boxes .box{
    width: calc(100% / 2 -20px);
}

.skill-details .boxes .box .topic{
    font-size: 20px;
    font-weight: 500;
    color: #f1d98f;
}

.skill-details .boxes .box .num{
    font-size: 60px;
    font-weight: 500;
    color: #f1d98f;
}
